<div [hidden]="showViewPatient">
	<div style="display: flex; justify-content: space-between; align-items: center">
		<div class="title">Monitored patients</div>
		<div *ngIf="isRunning && !isUpdating">
			<mat-icon>update</mat-icon>
		</div>
		<mat-spinner diameter="25" color="primary" *ngIf="isRunning && isUpdating" class="no-margin"></mat-spinner>
	</div>

	<table mat-table [dataSource]="tableDataSource" class="full-width margin-top-1">
		<ng-container matColumnDef="counter">
			<th mat-header-cell *matHeaderCellDef>S/N</th>
			<td mat-cell *matCellDef="let patient; let i = index"> {{i + 1}} </td>
		</ng-container>
		<ng-container matColumnDef="name">
			<th mat-header-cell *matHeaderCellDef> Name </th>
			<td mat-cell *matCellDef="let patient"><a routerLink="./" (click)="viewPatient(patient)">{{patient?.name}}</a></td>
		</ng-container>
		<ng-container matColumnDef="cholesterol">
			<th mat-header-cell *matHeaderCellDef> Cholesterol </th>
			<td mat-cell *matCellDef="let patient">
				<mat-spinner diameter="15" *ngIf="patient?.isLoading" class="no-margin"></mat-spinner>
				<span *ngIf="!patient?.isLoading">{{patient?.cholesterol}} {{patient?.cholesterolUnit}}</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="effectiveDate">
			<th mat-header-cell *matHeaderCellDef> Effective </th>
			<td mat-cell *matCellDef="let patient">
				<mat-spinner diameter="15" *ngIf="patient?.isLoading" class="no-margin"></mat-spinner>
				<span *ngIf="!patient?.isLoading">{{patient?.effectiveDate | date:'dd MMM yyyy, hh:mm aaa'}}</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="lastUpdate">
			<th mat-header-cell *matHeaderCellDef> Updated </th>
			<td mat-cell *matCellDef="let patient">
				<mat-spinner diameter="15" *ngIf="patient?.isLoading" class="no-margin"></mat-spinner>
				<span *ngIf="!patient?.isLoading">{{patient?.lastUpdate | date:'dd MMM yyyy, hh:mm aaa'}}</span>
			</td>
		</ng-container>
		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef class="align-right"></th>
			<td mat-cell *matCellDef="let patient; let i = index" class="align-right">
				<button mat-icon-button color="warn" (click)="removePatient(patient, i)" [disabled]="patient?.isLoading || isUpdating">
					<mat-icon>close</mat-icon>
				</button>
			</td>
		</ng-container>
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</div>

<app-patient *ngIf="showViewPatient" [patientId]="patientIdToView" (back)="showViewPatient = false"></app-patient>
